<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YiShopCustomer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
				<key>dateExpires</key>
				<string>2020/12/18</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Common.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VTMagic.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>30D21BB8EB3DEBFBD2C701672F34F210B8FA04F0</string>
						<key>dateExpires</key>
						<string>2020/12/18</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>XT962RAC9J.com.68mall.YiShopCustomer.remote</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>XT962RAC9J</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>XT962RAC9J.com.68mall.YiShopCustomer.remote</string>
						</array>
					</dict>
					<key>name</key>
					<string>remote.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>cdbc7401-9da9-4377-8d9e-31eebebf022c</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.68mall.YiShopCustomer.remote</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XT962RAC9J</string>
						<key>name</key>
						<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XT962RAC9J.com.68mall.YiShopCustomer</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XT962RAC9J</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>YiShopCustomer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8c963160-588a-4e46-91a8-90b9b43b6e34</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.68mall.YiShopCustomer</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XT962RAC9J</string>
				<key>name</key>
				<string>Qinhuangdao Shangzhiyi Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
